# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Intellij\demo-student-management-c02h1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
